body {
  background-color: gray;
  color: white;
}

h1 {
  font-size: 24px;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #000000;
  border-bottom: solid 1px white;
}

h3 {
  font-size: 18px;
  padding-left: 4px;
  border-left: solid 4px white;
}

#schedule {
  padding: 10px 20px 10px 20px;
  background-color: gray;
}

.iniad {
  color: white;
}

.time {
  font-weight: bold;
  color: white;
  font-size: 30px;
}
