body {
  background-color: gray;
  color: white;
}

h1 {
  font-size: 24px;
  text-align: center;
}

h2 {
  width: 93%;
  margin: auto auto;
  font-size: 20px;
  color: #000000;
  border-bottom: solid 1px white;
}

h3 {
  font-size: 18px;
  padding-left: 4px;
  border-left: solid 4px white;
}

p{
  width: 90%;
  margin: auto auto;
}

#schedule {
  padding: 10px 20px 10px 20px;
  background-color: gray;
}

.iniad {
  color: white;
}

.time {
  font-weight: bold;
  color: white;
  font-size: 30px;
}

.backbotan {
  width:20px;
  height:20px;
}

.mainimage{
  width: 100%; 
  }

.conceptimage{
  width: 200px;
  height: 200px;
  text-align: center;
}

a {
  color: blue
}

a:hover {
  color: #23ade5
}

a:visited {
  color: 	#70C1BA
}

#language-switcher {
  text-align: center;
  margin-top: 20px;
}

#language-switcher ul {
  display: inline;
  list-style: none;
}

#language-switcher ul li {
  display: inline;
  margin-right: 5px;
}

#language-switcher a {
  text-decoration: none;
  color: #0055b7; 
}