.wrap {
	position: relative;
	width: 1080px;
	height: 1920px;
	overflow: hidden;
	background-color: #fff;
	border: solid 0px #000;
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    font-size: 20px;
    color: #666;
    text-align: left;
    text-shadow: none;
    filter: alpha(opacity=1.0);
    opacity: 1.0;
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,.0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
	top: 0;
    left: 25px !important;
}
.carousel-control.right {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,.0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
	top: 0;
    right:0 !important;
	text-align: center;
}
.carousel-control:hover, .carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=1.0);
    outline: 0;
    opacity: 1.0;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .left, .carousel-control .right {
    position: absolute;
    top: 895px;
    z-index: 5;
    display: inline-block;
	color: #999;
	font-size: 80px;
}

/*追加分*/
header {
	width: 1080px;
	text-align: center;
	background-color: #000;
	padding: 50px 0 20px 0;
	border-bottom: solid 1px #000;
	z-index: 99;
	height: 120px;
}
header img {
	height: 72px;
	width: auto;
    text-align: center;
}
.time {
	width: 180px;
	float: right;
	font-size: 40px;
	margin-top: 7px;
	/* text-align: left; */
	color: #fff;
}
.counter {
	width: 180px;
	float: left;
	font-size: 40px;
	margin-top: 7px;
	color: #fff;
}
/* footer */
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #000;
	width: 1080px;
	margin: 0;
	padding: 20px 0 50px 0;
	text-align: center;
	height: 120px;
}
/*追加分*/
.bldg-name {
	background-color: #EEEEEE;
	padding: 10px;
	margin: 0;
}

.back-home {
	background-color: #EEEEEE;
	padding: 10px;
	margin: 0;
	text-align: right;
}


.floors {
	left: 0;
	bottom: 70px;
	background-color: #EEEEEE;
	height: 1400PX;
	width: 1080px;
	margin: 0;
	padding: 50px 0 0 0;
}

.container {
	position: relative;
	padding: 20px 75px 20px 150px;
	height: 1400PX;
	width: 1080px;
}

.image1 {
	position: relative;
	top: 0;
	left: 0;
	z-index: 5; /* 最前面に */
}

.image2 {
	position: absolute;
	top: 200px;
	left: 150px;
	z-index: 4;
}

.image3 {
	position: absolute;
	top: 400px;
	left: 150px;
	z-index: 3;
}

.image4 {
	position: absolute;
	top: 600px;
	left: 150px;
	z-index: 2;
}

.image5 {
	position: absolute;
	top: 800px;
	left: 150px;
	z-index: 1; /* 最背面に */
}

.floor-info {
	font-size: 50px;
	left: 0;
	bottom: 0;
	color: white;
	background-color: #666666;
	height: 200px;
	width: 1080px;
	margin: 0;
	padding: 20px 0 50px 0;
	text-align: center;
}

.floor_map {
	height: 747px;
	width: 1080px;
	background-color: #999999;
}

/*240129追加*/
.image-room-a {
	position: absolute;
	top: 20;
	left: 10;
	}

.image-room-b {
	position: absolute;
	top: 20px;
	left: 492px;
	}

.image-room-c {
	position: absolute;
	top: 212px;
	left: 150px;
	}

.image-room-d {
	position: absolute;
	top: 212px;
	left: 492px;
	}

.present_floor {
	left: 0;
	bottom: 0;
	color: white;
	background-color: #666666;
	height: 100px;
	width: 1080px;
	margin: 0;
	padding: 10px 0 0 0;
	text-align: center;
}

.control_panel_1f {
	height: 800px;
	width: 1080px;
	background-color: #EEEEEE;
}
/*240127追加分*/
.floor-sw {
    display: flex;
    align-items: center;
}

.ac-sw_label {
	display: flex;
	align-items: center;
}

.light-sw_label {
    display: flex;
    align-items: center;
}

input[type='checkbox'] {
	position: absolute;
	width: 0;
	height: 0;
}

.title {
    margin-left: 4px;
}

.ac-sw-body {
	width: 56px;
	border-radius: 15px;
	height: 32px;
	background-color: #9fe7ff;
}

input:checked ~ .ac-sw-body {
	background-color: rgb(0, 121, 168);
	transition: 0.5s;
}

.light-sw-body {
    width: 56px;
    border-radius: 15px;
    height: 32px;
    background-color: #f7ff9f;
}
    
input:checked ~ .light-sw-body {
	background-color: rgb(255, 205, 3);
	transition: 0.5s;
}

.circle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	background-color: white;
}

input:checked ~ .circle {
	transform: translateX(100%);
}

.sw {
	position: relative;
}


